/* Add highlighting styles */
.highlight {
  background-color: #ffe082;
  border-radius: 4px;
  padding: 2px 4px;
}

/* Remove default Bootstrap focus styles */
select:focus, button:focus {
  box-shadow: none !important;
  outline: none !important;
}

#transcript {
  min-height: 200px;
  max-height: 60vh;
  overflow-y: auto;
}